@tailwind base;
@tailwind components;
@tailwind utilities;

$rhap_theme-color: #e91e63;
@import 'react-h5-audio-player/src/styles.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    min-height: 100vh;
    
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes opacityShift {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.misc-loader-logo {
  animation: opacityShift 2s infinite alternate;
}
.rhap_additional-controls{
  flex:initial !important;
}
